    html,body {
        height: 100%;
        font-family: 'PT Sans', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Raleway', sans-serif;
    }

    h4 {
        font-size: 20px;
    }

    hr {
        border-top:1px solid red;
    }

    a {
        color:black;
    }

    a:hover {
        color:red;
    }

    ul ul {
        padding: 0;
    }


    .page-link {
        color: #000000;
    }

    .no-gutters {
        padding-right: 0px;
        padding-left: 0px;
    }

    .counter-inputas {
        width:30%;
    }

    .top-bar {
        width: 100%;
        background-color: black;
        color:white;
    }

    .top-bar li {
        list-style-type: none;
        margin-left: 15px;
        margin-right: 15px;
        float: right;
    }

    .top-bar ul {
        display:block;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
    }

    .top-bar a {
        color: white;
    }

    .top-contacts {
        float:left;
        width: 50%;
    }

    .logo {
        display: flex;
        align-items: center;
        width:30%;
    }

    .logo img {
        height: auto;
        width: 100%;
    }

    .cart-menu-price {
        font-size: 20px;
    }

    .nav {
        width:40%;
        font-size: 16px;
        line-height: 20px;
    }

    .nav li {
        float: right;
        list-style-type: none;
        margin-left: 15px;
        margin-right: 15px;
    }

    .nav ul {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .navbar-light .navbar-nav .nav-link:focus {
        color:red !important;
    }

    .navbar-light .navbar-nav .nav-link:active {
        color:red !important;
    }

    .navbar-light .navbar-nav .nav-link {
        color:black;
        text-decoration: none;
    }

    .navbar-light .navbar-nav .nav-link .btn-outline-danger {
        color:#dc3545 !important;
        text-decoration: none;
    }

    .btn-outline-danger:focus {
        color: black !important;
    }

    .nav a:hover {
        color:red;
        text-decoration: underline;
        text-decoration-color: black;
    }

    .cart-menu {
        font-size: 30px;
        text-align: center;
        width:30%;

    }

    .btn-dark {
    color:white !important;
    }

    .cart-menu-inside {
        background-color:#000000;
        padding:10px;
        border-radius: 10px;
        color:white;
        width: 100%;
        font-size: 16px;
    }

    .cart-menu-icon {
        line-height: 85px;
        color:white;
    }

    .cart-menu-icon-mobile {
        color:black;
        line-height: 85px;
    }

    .slider {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        height: 350px;
    }

    .slider img {
        width: 100%
    }

    .slider-arrows-left {
        position: absolute;
        left:0px;
        top:40%;
        font-size: 40px;
    }

    .slider-arrows-right {
        position: absolute;
        right:0px;
        top:40%;
        font-size: 40px;
    }

    .karusele {
        width: 100%;
        text-align: center;
        overflow: hidden;
    }

    .karuseles-img img {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 100%;
    }

    .karuseles-arrow-containeris{
        position:relative;
    }
    .karuseles-arrow {
        position: absolute;
        top:35%;
        font-size: 40px;
    }

    .footer {
        background-color: black;
        color:white;
        padding-top:10px;
        padding-bottom: 10px;
        width: 100%;
    }

    .footer p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .login-container {
        height:100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: #000000 url('http://localhost/voldemaras/laravel-html/images/textura.png');
        background-repeat: repeat;
    }

    .login-box {
        border:1px solid white;
        background:rgba(255,255,255, 0.4);
        border-radius: 15px;
        min-height: 400px;
        align-self: center;
        padding:30px;
    }

    .login-row {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .login-form {
        width:70%;
        text-align: center;
        margin:0 auto;
    }

    div#search {
        border: 1px solid black;
        position: relative;
    }

    .search-inputas {
        width:80% !important;
    }

    .search-bar-back {
        background-color: #d9dee1;
    }

    .form-inline {
        width: 100% !important;
    }

    div#sidebar {
        height: 100%;
        border-right: 1px solid red;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .sidebar-categories ul {
        list-style-type: none;
        margin-left: 25px;
    }

    .sidebar-categories ul ul {
        list-style-type: none;
        margin-left: 0px;
        padding-left: 10px !important;
    }

    .sidebar-categories li:before {    
        content: url('../images/cat.png');
        height: 16px;
        margin:0 5px 0 -15px;
    }

    .most-popular-prod-sidebar p {
        text-align: justify;
    }

    .most-popular-prod-sidebar .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        padding: 5px 5px;
        font-size: 10px;
        line-height: 12px;
        transition: all .15s ease-in-out;
    }

    div#radioboxes {
        margin-top: 17px;
        padding: 10px;
    }

    div.packshot {
        width: 100%;
        margin-left: 5px; 
        display: inline-block;
        justify-content: center;
    }

    .packshot img {
        width: 100%;
    }

    .packshots {
        display: none;
    }

    img.gallery {
        width: 150px;
        height: 200px;
        margin: 10px;
    }

    body {
        font-size: 12px;
    }

    div#pagination {
        margin-top: 30px;
    }

    div#arrivals {
        margin-top: 30px;
    }

    div#popular {
        margin-top: 30px;
    }

    .img-thumbnail, .gallery {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: none !important;
    }

    img#popular {
        width: 80%;
        margin-top: 10px;
        max-height:180px;
        object-fit:cover;
    }

    div#categories {
        margin-top: 30px;

    }

    .cart-menu-mobile {
        display: none;
    }

    .form-check {
        width: 33%;
        float: left;
        text-align: center;
    }

/*
Single product
*/

.single-price-block input {
    line-height:30px;
}

.single-product-title {
    height: 50px;
}

.single-product-title-pre, .single-product-title-main {
    line-height: 50px;
}

.single-product-title-main {
    text-align: right;
}

.single-product-title-pre {
    text-align: left;
}

.single-product-title-pre p {
    font-size: 25px;
    color:#E2231A;
}

.slider-for img {
    width:390px;
}

.slider-nav {
    width:80%;
}
.slider-nav-image {
    width:25%;
    padding: 15px;
    height: 100%;
}

.slider-nav-image img {
    width:25%;
}

.slider-for {
    width: 100%;
}

.slider-nav img {
    height: 90px;
    padding-left: 15px;
    padding-right: 15px; 
}

.slider-nav .slick-prev::before, .slider-nav .slick-next::before {
    color: black;
}

.single-product-image {
    height: 300px;
    overflow: hidden;

}

.single-product-image img {
    object-fit: cover;
    height:300px;
    width:100%;
}

.single-product-image .slick-prev::before, .single-product-image .slick-next::before {
    color: black !important;
}

.single-price-block {
    height: 50px;
    line-height:30px;
    border:1px solid black;
}

.single-info p {
    margin-bottom: 5px;
    border-bottom: 1px solid red;
}

.related-products img {
    height:250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none !important;
}

.slider-mobile-margin {
    margin-top:35px;
}


/*
CONTACTS
*/

.contacts li {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom:10px;
    border-bottom: 1px solid red;
}


/*
USER EDIT
*/

.user-edit-label {
    padding:15px;
}

.user-edit-label label {
    padding-right:20px;
    color:red;
    line-height:30px;
    margin-bottom: 0px;
}

/*
IMPORT PRODUCTS
*/


.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}


/*
SPECIAL OFFERS
*/

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #ced4da 1px !important;
    outline: 0;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: solid #ced4da 1px !important;
    border-radius: 4px;
    cursor: text;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}

.special-offers-clients-select .input-group-text {
    padding: .0.75rem;
}

.special-offers-clients-select .input-group-text input[type="checkbox"] {
    margin-top: 0px;
}

.special-offers-clients-select .input-group-text .form-group {
    margin-bottom: 0;
}

.special-offers-clients-select-all {
 font-size: 12px;
 margin-bottom: 0;
 margin-right:10px;
}

/*
MOBILE
*/

@media only screen and (max-width: 990px) {

    .cart-menu {
        display:none;
    }

    .single-price-block {
    height: auto;
}

    .cart-menu-mobile {
        display: block;
        width: 20%;
        font-size: 30px;
        text-align: center;
    }

    #sidebar {
        display: none;
    }

    .search-inputas {
        width: 60% !important;
    }

    .navbar {
        width: 40%;
    }

    .cart-menu-mobile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

}

@media only screen and (max-width: 500px) {
    .navbar {
        width: 100%;
    }

    .cart-menu-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width: 1200px) {
    .publisher {
        display: none;
    }

    .release {
        display: none;
    }

}

@media only screen and (max-width: 990px) {

    .publisher {
        display: block;
    }

    .release {
        display: block;
    }

    .top-bar ul {
        margin: 0;
        padding: 0;
    }

    .logo {
        width:50%;
    }

    .nav {
        width:30%;
        line-height: 20px;

    }

    .navbar {
        padding: 0px 0px;
    }

    .cart-menu-price {
        display: none;
    }

    .slider {
        height: 150px;
    }

    .form-inline {
        width: 100% !important;
    }

    .karuseles-arrow {
        font-size: 25px;
    }

    .col-sm-8 {
        width: 64% !important
    }

    .col-sm-2 {
        width: 16.7% !important
    }

    .form-check {
        width: 100%;
        text-align: left;
    }

    img.packshot {
        height: 150px;
    }

    .product-image-mobile-center {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .product-image-mobile-center table td {
        text-align: center;
    }

    .single-product-title-main {
        text-align: center;
    }

    .single-product-title-pre {
        text-align: center;
    }

    .single-product {
        margin:0 auto;
    }

    .related-products {
        margin-top:20px;
    }

    .single-price-block {
        margin-top:20px;
    }

    .col-md-6 {
        width: 50%;
    }

    .single-product-title {
        height: auto;
    }

    .single-product-title-pre, .single-product-title-main {
        line-height: auto;
    }

    .slider-mobile-margin {
        margin-top:0px;
}

}


/* Table */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-top: 10px;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.stock {
    width: 60px;
}

.price {
    width: 50px;
}

.title {
    width: 250px;
}

.platform {
    width: 48px;
}

.ean {
    width: 80px;
}

.release {
    width: 75px;
}

.preorders {
    width: 75px;
}

.publisher {
    width: 80px;
}

.amount {
    width: 55px;
}

.actions {
    width: 85px;
}


table th,
table td {
    text-align: center;
    padding: .35em;
}


table th {
    font-size: .80em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
@media screen and (max-width: 990px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: center;
    }
    table td:before {
        content: attr(data-label);
        float:left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}

input.input {
    width:50px;
}

.loader {
    display:block;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db !important; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.create-product-error {
    color:red;
}

.zoom {
   cursor: zoom-in;
}

#message {
    display: none;
    color: green;
}